This is a dataset consisting of several features of stars

Absolute Temperature (in K)

Relative Luminosity (L/Lo)

Relative Radius (R/Ro)

Absolute Magnitude (Mv)
Star Color (white,Red,Blue,Yellow,yellow-orange etc)

Spectral Class (O,B,A,F,G,K,,M)

Star Type **(Red Dwarf, Brown Dwarf, White Dwarf, Main Sequence , SuperGiants, HyperGiants)**

Make a multiclass logistic regression to predict the star type

In [97]:
import pandas as pd
import numpy as np
import seaborn as sns

In [98]:
df = pd.read_csv("Stars.csv")

In [99]:
df

,Temperature,L,R,A_M,Color,Spectral_Class,Type
0,3068,0.002400,0.1700,16.12,Red,M,Brown Dwarf
1,3042,0.000500,0.1542,16.60,Red,M,Brown Dwarf
2,2600,0.000300,0.1020,18.70,Red,M,Brown Dwarf
3,2800,0.000200,0.1600,16.65,Red,M,Brown Dwarf
4,1939,0.000138,0.1030,20.06,Red,M,Brown Dwarf
...,...,...,...,...,...,...,...
235,38940,374830.000000,1356.0000,-9.93,Blue,O,Hypergiant
236,30839,834042.000000,1194.0000,-10.63,Blue,O,Hypergiant
237,8829,537493.000000,1423.0000,-10.73,White,A,Hypergiant
238,9235,404940.000000,1112.0000,-11.23,White,A,Hypergiant
239,37882,294903.000000,1783.0000,-7.80,Blue,O,Hypergiant

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Temperature     240 non-null    int64
 1   L               240 non-null    float64
 2   R               240 non-null    float64
 3   A_M             240 non-null    float64
 4   Color           240 non-null    object
 5   Spectral_Class  240 non-null    object
 6   Type            240 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 13.2+ KB

In [101]:
df["L"].describe()

count       240.000000
mean     107188.361635
std      179432.244940
min           0.000080
25%           0.000865
50%           0.070500
75%      198050.000000
max      849420.000000
Name: L, dtype: float64

In [102]:
df["Temperature"].describe()

count      240.000000
mean     10497.462500
std       9552.425037
min       1939.000000
25%       3344.250000
50%       5776.000000
75%      15055.500000
max      40000.000000
Name: Temperature, dtype: float64

In [103]:
df["A_M"].describe()

count    240.000000
mean       4.382396
std       10.532512
min      -11.920000
25%       -6.232500
50%        8.313000
75%       13.697500
max       20.060000
Name: A_M, dtype: float64

## preprocessing

Feature transformation

based on the description of the features 
Temperature / L /  R / A_M   

## re encode Big and small values

Temperature

In [104]:
cut1 = [0,5000,10000,15000,20000,25000,30000,35000,40001]
Age_Categories1 = [1,2,3,4,5,6,7,8]

In [105]:
df['temb_binned'] = pd.cut(df['Temperature'],bins=cut1, labels= Age_Categories1)

In [106]:
df['temb_binned'].head()

0    1
1    1
2    1
3    1
4    1
Name: temb_binned, dtype: category
Categories (8, int64): [1 < 2 < 3 < 4 < 5 < 6 < 7 < 8]

L

In [107]:
cut2 = [0,1,1000,15000,20000,25000,30000,35000,40000,45000,100000,300000,500000,800001,900000]
Age_Categories2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]

In [108]:
df['L_binned'] = pd.cut(df['L'],bins=cut2, labels= Age_Categories2)

In [109]:
df['L_binned']

0       1
1       1
2       1
3       1
4       1
       ..
235    12
236    14
237    13
238    12
239    11
Name: L_binned, Length: 240, dtype: category
Categories (14, int64): [1 < 2 < 3 < 4 ... 11 < 12 < 13 < 14]

R

In [110]:
cut3 = [0,1,10,50,100,500,800,1200,1500,2000]
Age_Categories3 = [1,2,3,4,5,6,7,8,9]

In [111]:
df['R_binned'] = pd.cut(df['R'],bins=cut3, labels= Age_Categories3)

In [112]:
df['R_binned']

0      1
1      1
2      1
3      1
4      1
      ..
235    8
236    7
237    8
238    7
239    9
Name: R_binned, Length: 240, dtype: category
Categories (9, int64): [1 < 2 < 3 < 4 ... 6 < 7 < 8 < 9]

A_M

In [113]:
cut4 = [-12,-8,-5,-2,0,1,4,8,12,14,17,21]
Age_Categories4 = [1,2,3,4,5,6,7,8,9,10,11]

In [114]:
df['A_M_binned'] = pd.cut(df['A_M'],bins=cut4, labels= Age_Categories4)

In [115]:
df['A_M_binned']

0      10
1      10
2      11
3      10
4      11
       ..
235     1
236     1
237     1
238     1
239     2
Name: A_M_binned, Length: 240, dtype: category
Categories (11, int64): [1 < 2 < 3 < 4 ... 8 < 9 < 10 < 11]

In [116]:
df.drop(['Temperature','L','R','A_M'], axis =1 , inplace = True)

In [117]:
df

,Color,Spectral_Class,Type,temb_binned,L_binned,R_binned,A_M_binned
0,Red,M,Brown Dwarf,1,1,1,10
1,Red,M,Brown Dwarf,1,1,1,10
2,Red,M,Brown Dwarf,1,1,1,11
3,Red,M,Brown Dwarf,1,1,1,10
4,Red,M,Brown Dwarf,1,1,1,11
...,...,...,...,...,...,...,...
235,Blue,O,Hypergiant,8,12,8,1
236,Blue,O,Hypergiant,7,14,7,1
237,White,A,Hypergiant,2,13,8,1
238,White,A,Hypergiant,2,12,7,1
239,Blue,O,Hypergiant,8,11,9,2

Encode categorical Features

Color , Spectral_Class

In [119]:
from sklearn.preprocessing import OneHotEncoder

In [120]:
Encoder = OneHotEncoder(sparse= False ,drop= 'first')

In [121]:
cat= df.select_dtypes(include='object')

In [122]:
cat_trans = Encoder.fit_transform(df[['Color','Spectral_Class']])

In [123]:
encoding = pd.DataFrame(cat_trans,columns=Encoder.get_feature_names_out())

In [124]:
df = pd.concat([df,encoding],axis = 1)

In [125]:
df

,Color,Spectral_Class,Type,temb_binned,L_binned,R_binned,A_M_binned,Color_Blue White,Color_Blue white,Color_Blue-White,...,Color_Yellowish White,Color_white,Color_yellow-white,Color_yellowish,Spectral_Class_B,Spectral_Class_F,Spectral_Class_G,Spectral_Class_K,Spectral_Class_M,Spectral_Class_O
0,Red,M,Brown Dwarf,1,1,1,10,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,Red,M,Brown Dwarf,1,1,1,10,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Red,M,Brown Dwarf,1,1,1,11,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,Red,M,Brown Dwarf,1,1,1,10,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,Red,M,Brown Dwarf,1,1,1,11,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Blue,O,Hypergiant,8,12,8,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
236,Blue,O,Hypergiant,7,14,7,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
237,White,A,Hypergiant,2,13,8,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
238,White,A,Hypergiant,2,12,7,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
239,Blue,O,Hypergiant,8,11,9,2,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

## _____________________________________________________________

Encode the target

In [145]:
from sklearn.preprocessing import LabelEncoder

In [146]:
label = LabelEncoder()

In [147]:
target = label.fit_transform(df['Type'])

In [148]:
df['Type'] = label.fit_transform(df['Type'])

In [149]:
df['Type']

0      0
1      0
2      0
3      0
4      0
      ..
235    1
236    1
237    1
238    1
239    1
Name: Type, Length: 240, dtype: int64

In [130]:
df.drop(['Color','Spectral_Class'], axis =1 , inplace = True)

## _________________________________________________________________________________________________

In [151]:
x = df.drop('Type',axis = 1)
y = df['Type']

In [152]:
from sklearn.model_selection import train_test_split

In [153]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state= 27 , test_size= .2,stratify=y )

## _________________________________________________

## scaling

In [154]:
from sklearn.preprocessing import StandardScaler

In [155]:
Scaler = StandardScaler()
col = ['temb_binned','L_binned','R_binned','A_M_binned']

In [156]:
x_train[col]=Scaler.fit_transform(x_train[col])
x_test[col]=Scaler.transform(x_test[col])

## _________________________________________________

## ________________________________________________________________________________________

In [157]:
from sklearn.linear_model import LogisticRegression

In [158]:
logistic = LogisticRegression(penalty='l2' ,solver = "liblinear" , multi_class="ovr" , C=1)

In [159]:
logistic.fit(x_train,y_train)

LogisticRegression(C=1, multi_class='ovr', solver='liblinear')

In [160]:
y_train_pred = logistic.predict(x_train)
y_test_pred = logistic.predict(x_test)

In [161]:
from sklearn.metrics import accuracy_score , confusion_matrix, ConfusionMatrixDisplay

In [162]:
accuracy_score(y_test,y_test_pred)

0.9583333333333334

In [163]:
accuracy_score(y_train,y_train_pred)

0.9427083333333334

In [164]:
confusion_matrix(y_train,y_train_pred)

array([[32,  0,  0,  0,  0,  0],
       [ 0, 32,  0,  0,  0,  0],
       [ 0,  0, 28,  0,  4,  0],
       [ 7,  0,  0, 25,  0,  0],
       [ 0,  0,  0,  0, 32,  0],
       [ 0,  0,  0,  0,  0, 32]], dtype=int64)